<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Batch">
    <classes>
      <class name="testng.EnabledFlagPractice"/>
      <class name="testng.PriorityFlagPractice"/>
      <class name="testng.SampleTest"/>
      <class name="testng.InvocationCountPractice"/>
    </classes>
  </test> <!-- Batch -->
</suite> <!-- Suite -->
